/*  UCF Purple: #320957;
	Background Purple: #DCC7F0;
	UCF Gold: #FEFDAA;
	Background Gold: #FFFFE0;
*/

/*Make the logo fit*/
#logo_container > img {
	max-height: 100%;
	width: 100%;
}

/*Separate the bread crumb map from head and body*/
#map_container {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*Padding for background color*/
#about_container > div, ul, #important_container > *, #content_row > * > *, #sm-about_container > div {
	padding: 5px 10px;
}

/*Separate from things above*/
ul, #content_row > * > *, #important_container, #sm-about_container {
	margin-top: 10px;
}

/*Center nav links*/
nav a {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/*Spacing h2 tags*/
h2 {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.container, body, html {
	/*height: 100%;*/
}