/*  UCF Purple: #320957;
	Background Purple: #DCC7F0;
	UCF Gold: #FEFDAA;
	Background Gold: #FFFFE0;
*/

@media(max-width: 992px) {

	.container {
		width: 400px;
	}

	#map_container {
		margin-top: 0;
	}

	#important_container {
		margin-top: 0;
	}

}