/*  UCF Purple: #320957;
	Background Purple: #DCC7F0;
	UCF Gold: #FFFECA;
	Background Gold: #FFFFE0;
*/

h3 {
	font-size: 20px;
}

/*Background Color*/
.container {
	background-color: white;
}

/*No bullets on nav links*/
ul {
	list-style: none;
}

/*No underline on nav links*/
nav a:hover {
	text-decoration: none;
}

/*box color*/
#about_container > div, ul, #important_container > *, #content_row > * > *, #sm-about_container > * {
	background-color: #FFFECA;
	border: solid 2px #320957;
	border-radius: 15px;
}

/*border*/
#header_container, #body_row {
	/*border: inset 5px black;*/
}

/*Sidebars background color*/
body {
	background-color: #320957;
	color: #320957;
}

#important_container > * {
	background-color: red;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}