/*  UCF Purple: #320957;
	Background Purple: #DCC7F0;
	UCF Gold: #FFFECA;
	Background Gold: #FFFFE0;
*/

h3 {
	font-size: 20px;
}

/*Background Color*/
.container, #body_row {
	background-color: white;
}

/*No bullets on nav links*/
ul {
	list-style: none;
}

/*nav link hover no underline color bold*/
nav a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #FFFECA;
	background-color: #320957;
}

/*Border on nav links*/
nav a {
	border: solid 2px #320957;
	border-radius: 5px;
}

/*box color*/
#about_container > div, ul, #important_container > *, #content_row > * > *, #sm-about_container > * {
	background-color: #FFFECA;
	border: solid 2px #320957;
	border-radius: 15px;
}

/*border*/
#header_container, #body_row {
	/*border: inset 5px black;*/
}

/*Sidebars background color*/
body {
	background-color: #320957;
	color: #320957;
}

/*important container red*/
#important_container > * {
	background-color: red;
}

/*bold*/
.bold {
	font-weight: bold;
}

/*underline*/
.underline {
	text-decoration: underline;
}

/*word wrap contacts email*/
.contact {
	word-wrap: break-word;
}

#dropdown_link {
	text-decoration: none;
	border: solid 2px #320957;
	padding: 0px 5px;
	border-radius: 5px;
}

#dropdown_link:hover {
	background-color: #FFFECA;
	color: #320957;
}

#title_container a:hover {
	font-weight: bold;
	color: #320957;
	text-decoration: none;
}