div {
	/*border-width: 2px;
	border-style: solid;
	background-color: grey;*/
}

#logo {
	max-height: 200px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p, h1, h2 {
	text-align: center;
}

#header_container {
	height: 220px;
}

#body_container {

}

#header_container div {
	margin: 5px;
	background-color: grey;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}